@import url(http://fonts.googleapis.com/css?family=Roboto:300);

/* Page Common */

body {
	margin-top: 60px;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

section {
	border-bottom: 2px solid #ACACAC;
	overflow: hidden;
}

section a {
	color: #00CCFF;
	font-weight: normal;
}

section a:hover {
	color: #ACACAC;
	text-decoration: none;
	font-weight: normal;
}

.roboto {
	font-family: "Helvetica Neue", "Roboto", Arial, sans-serif;
	font-weight: 300;
}

/* Navigation Bar */

.navbar {
	height: 60px;
	border-bottom: 6px solid #D5F6FF;
	padding-left: 8%;
	padding-right: 8%;
}

.nav:hover {
	color: #D5F6FF;
}

/* CTA Top Section */

.cta {
	background-color: #00CCFF;
	text-align: center;
	color: #fff;
	padding: 60px 15% 60px 15%;
}

.cta h1 {
	font-size: 40px;
	font-weight: lighter;
}

.cta p {
	color: #D5F6FF;
	font-size: 16px;
	font-weight: lighter;
}

.cta a {
	color: #414141;
	font-size: 17px;
}

.cta a:hover {
	text-decoration: none;
	color: #fff;
}

.cta .btn-lg {
	background-color: transparent;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: lighter;
	color: #fff;
	border-color: #fff;
	padding: 20px;
}

.cta .btn-lg:hover,
.cta .btn-lg:active {
	background-color: #fff;
	color: #2AD4FF;
	border-color: #fff;
}


/* Why AList section */

.why-alist {
	padding: 60px 8% 60px 8%;
}

.why-alist h2 {
	text-transform: uppercase;
	border-left: 6px solid #00CCFF;
	padding-left: 15px;
}

.why-alist p {
	font-size: 18px;
	font-weight: lighter;
}

.why-alist p span {
	font-weight: normal;
	color: #00CCFF;
}

.bullets .glyphicon {
	color: #00CCFF;
	font-size: 35px;
	padding-left: 25px;
	padding-right: 15px;
}

.bullets p {
	font-size: 18;
}

/* Demo Report Request */

.why-alist .input-group {
	margin-bottom: 20px;
}

.why-alist .input-group-addon {
	background-color: #D5F6FF;
}

.btn-default {
	color: #fff;
	background-color: #FFCC00;
	border-color: #D4AA00;
}

.btn-default:hover,
.btn-default:active {
	color: #fff;
	background-color: #00CCFF;
	border-color: #00AAD4;
}

/* Team */

.headshots div {
	margin-right: 35px;
}

.headshots p {
	font-size: 12px;
}

.headshots h6 {
	color: #ACACAC;
}

.advisers {
	margin-top: -28px;
}

.advisers span{
	color: #ACACAC;
}

.advisers a{
    margin-right:12px;
    font-size: 13px;
}

.advisers #title {
	border-left: 4px solid #00CCFF;
	padding-left: 10px;
	color: #000;
	margin-left: 70px;
	font-size: 14px;
	font-weight: normal;
}

/* Final CTA and Partners */

.final h4 {
	text-transform: uppercase;
	color: #ACACAC;
}

.divider {
	height: 2px;
	border-bottom: 1px solid #fff;
	background-color: #ACACAC;
	margin-top: 50px;
	margin-bottom: 50px;
}

/* Footer */

footer {
	padding: 50px 100px;
	background-color: #1F1F1F;
	margin-top: -50px;
}

footer p {
	font-size: 12px;
	color: #888888;
}

footer a {
	color: #888888;
}

footer a:hover {
	color: #D5F6FF;
	text-decoration: none;
}

footer .right {
	text-align: right;
}












